---
import HeroAttributes from "../components/HeroAttributes.svelte";
import Navbar from "../components/Navbar.svelte";
import Projects from "../components/Projects.svelte";
import Services from "../components/Services.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shimon Pro">
  <Navbar client:load />
  <main class="flex flex-col md:flex-row min-h-screen">
    <div class="text-4xl">Heyo</div>
    <HeroAttributes client:load />
  </main>
  <Projects />
  <Services />
</Layout>
