---
import About from "../components/About.svelte";
import Navigation from "../components/Navigation.svelte";
import Projects from "../components/Projects.svelte";
import Services from "../components/Services.svelte";
import SocialLinks from "../components/SocialLinks.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shimon Pro">
  <header class="md:w-2/5 md:sticky md:top-0 md:max-h-screen">
    <div class="flex flex-col md:h-screen md:justify-between md:py-28">
      <div>
        <span class="font-semibold md:text-5xl text-3xl inline font-heading"
          >Šimon Prokopec</span
        >
        <p class="md:w-4/5 pt-3 text-lg">
          I bring profesionality and enthusiasm. Let's build something together.
        </p>
      </div>
      <Navigation client:load />
      <SocialLinks />
    </div>
  </header>
  <div class="flex flex-col md:w-3/5 gap-24 md:py-24">
    <About />
    <Services />
    <Projects client:load />
  </div>
</Layout>
