---
import Header from "../components/Header.svelte";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script is:inline>
const theme = (() => {
  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
    return localStorage.getItem("theme");
  }
  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    return "dark";
  }
  return "light";
})();

if (theme === "light") {
  document.documentElement.classList.remove("dark");
} else {
  document.documentElement.classList.add("dark");
}
window.localStorage.setItem("theme", theme);
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      @font-face {
        font-family: "Quicksand";
        src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Lato";
        src: url("/fonts/Lato-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      html {
        scroll-behavior: smooth !important;
      }
    </style>
  </head>
  <body
    class="flex background flex-col-reverse md:flex-col bg-fixed font-sans dark:bg-gray-900 bg-flax-100 text-gray-950 dark:text-stone-200 dark:bg-overlappingCirclesPattern bg-overlappingCirclesLightPattern"
  >
    <div
      class="md:fixed md:[writing-mode:vertical-lr] justify-center md:min-h-screen flex md:justify-center md:ml-2 text-sm gap-1 md:gap-0"
    >
      <div class="rotate-90">&copy;</div>
      <div class="text-flax-400 md:pt-0.5 md:pb-1.5">2023</div>
      <div class="md:pt-0.5 md:pb-1.5">Šimon Prokopec</div>
    </div>
    <Header client:load />
    <div></div>
    <main
      class="md:mx-auto md:min-h-screen px-10 py-12 md:px-40 md:py-0 flex md:flex-row flex-col min-w-full"
    >
      <slot />
    </main>
  </body>
</html>
